# Configuration file

blocks {
    B:glassesbridge=false
    B:pim=false
    B:selector=false
    B:sensor=false
    B:ticketmachine=false
}


glasses {
    # Should glasses listen to all chat (not just prefixed with $$)
    B:listenToAllChat=true
}


items {
    B:generic=false
    B:glasses=false
    B:keyboard=false
}


misc {
    # Should turtles with OPA updates be visible in creative
    B:addTurtlesToCreative=true
}


sensor {
    I:normalRange=5
    I:rangeInStorm=5
}


